html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bi {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: currentcolor;
}

.nav-link {
  color: #6c6c6c;
}

.nav-link:hover {
  color: var(--bs-nav-link-hover-color);
}

.nav-link.active {
  color: black;
}

.search-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: white;
}
